.negro{
    background-color: black;
    display: flexbox;
}
.contenedorprincipal{
   width: 400px;
   background-color: blanchedalmond;
   display:block;
   margin:auto;
   
    
}

.titulosuperior{
    font-family: Squada One;
    font-size: small;
    align-content: flex-start;
    margin-right: 310px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-left: 5px;
    
}
.name{
 font-family: Open Sans;
 font-size: smaller;
}

.head{
    display: flex;
 width: auto;
  height:30px ;
  padding: 5px;
}

#h{
   width: fit-content;
}
.division{
    padding: 5px;
}

.parr{
    text-align:justify ;
}


.img{
    width: 100%;
}

.footer{
    display: flex;
}

.book{
    margin-left: 330px;
    margin-right: 0%;
}